.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkoutAd {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.checkoutTitle {
    margin-top: 0;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.checkoutLeft {
    display: flex;
    flex-direction: column;
}

.checkoutRight {
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    margin-bottom: auto;
    align-items: center;
}