.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    margin: auto;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotalGift {
    display: flex;
    align-items: center;
}

.subtotalGift input {
    margin: 5px;
}

.subtotal button {
    background-color: #ff9f00;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}