.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Header Part 1 - Includes LOGO and LOGO TITLE */
.headerLogo {
    display: flex;
    align-items: center;
    color: #ff9f00;
    margin: 0 25px;
}

.headerLogoImage {
    margin-right: 7.5px;
}

.headerLogoTitle {
    text-decoration: none;
    border: 0;
    color: whitesmoke;
}

.link {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Header Part 2 - Includes INPUT and SEARCH IMAGE */
.headerSearch {
    display: flex;
    flex: 1;
    justify-content: center;
    border-radius: 24px;
    margin: auto;
}

.headerSearchInput {
    height: 12px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
}

.headerSearchIcon {
    padding: 5px;
    border-radius: 0 5px 5px 0;
    height: 22px !important;
    background-color: #ff9f00;
}

/* Header Part 3 - Includes NAV and its ITEMS */

.headerNav {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.headerNavItem {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: whitesmoke;
}

.navItemOne {
    font-size: 10px;
}

.navItemTwo {
    font-size: 13px;
    font-weight: 750;
}

.headerNavItemBasket {
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-left: 10px;
    margin-right: 50px;
}

.navBasketCount {
    margin-left: 10px;
    margin-right: 50px;
}